*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    cursor: url('./../../Untitled.png'), auto ;
}
:root{
    /* --lgblu: rgb(186, 238, 255); */
}
.hdr_bg{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-image: url(./images/solar_system002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    position: relative;
}

header{
    height: 50px;
    width: 100%; /* give 100vw in media screen */
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.logo{
    object-fit: fill;
    /* background-color: aliceblue; */
}
.hdr_nav{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: larger;
    text-shadow: 1px 1px 1px yellow;
    /* justify-content: space-evenly; */
}
.hdr_nav > p > a{
    text-decoration: none;
}
.hdr_nav > p::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color:  rgba(62, 202, 249);
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.4s;
}
.hdr_nav > p:hover::after{
    transform: scale(1);
}
.SX_dis{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 50px;
}
.SX_dis_dmy{
    height: inherit;
    width: inherit;
    position: relative;
}
.earth_3d{
    height: 50vw;
    width: 50vw;
    /* background: wheat; */
    position: absolute;
    top: 40%;
    left: 25%;
}
.spline-watermark{
    visibility: hidden !important;
    display: none !important;
}
.SX_dis1{
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    top: 30%;
    left: 25%;
}
.SX_dis1_spn{
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 100px;
    font-weight: bolder;
}
.sp_bar{
    height: 50px;
    width: 100%;
    background-color: rgba(145, 221, 246, 0.5);
    font-size:x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.vision{
    padding: 5px;
    background-color: black;
}
nav{
    height: 50px;
    width: 100%;
    background-color: rgba(145, 221, 246, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size:x-large;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.rockets{
    display: flex;
    justify-content: space-evenly;
    /* gap: 30px; */
    background-color: rgb(0, 0, 0);
    padding: 30px;
}
.rockets1{
    display: flex;
    justify-content: space-evenly;
}
/* flip card start */
article{
    position: relative;
    width: 250px;
    height: 300px;
    /* border-radius: 10px 10px; */
    /* background-color: aquamarine; */
}
.card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;  
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: orange; */
}
.front > img{
    width: 230px;
    height: inherit;
    object-fit: contain;
    
}
.back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(0, 187, 255); */
    transform: rotateY(180deg);
}
.back > img{
    height: inherit;
    width: 230px;
    object-fit: contain;
}
.card:hover{
    transform: rotateY(180deg);
}
.front > p{
    position: absolute;
    bottom: 0;
    left: 0;
}
.back > p{
    position: absolute;
    top: 0;
    right: 0;

}
/* flip card end */
.card_footer{
    padding: 10px;
    padding-left: 80px;
}
.Mission1{
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
}
h2{
    background-color: black;
    font-size:x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}
.Mission1 > p{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-size: larger;
    text-align: center;
}
.Mission1 > img{
    height: inherit;
    width: 50%;
    object-fit: contain;
}
.Mission2{
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Mission2 > video{
    height: 50%;
    width: 50%;
}
.Mission2 > div{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: column;
}
.Mission2 > div > p{
    width: 70%;
    text-align: center;
}
/* footer */
footer{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-image: url(./images/Nebula_cloud_carina.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.ftr_stc1{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    /* background-color: rgba(0, 255, 255, 0.658); */
}
.ftr_stc2{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 50px;
    /* background-color: rgba(252, 208, 151, 0.651); */
}
.ftr_stc2 > div  a{
    text-decoration: none;
}
input{
    display: none;
}
header > label{
    display: none;
}
@media screen and (min-width: 300px) and (max-width:499px) {
    header{
        width: 100%;
    }
    header > label{
        display: unset;
    }
    .hdr_nav{
        position: fixed;
        top: -200%;
        flex-direction: column;
        left: 0;
        background-color: black;
        height: 50vh;
        width: 100%;
    }
    input:checked ~ .hdr_nav{
        top: 50px;
    }
    .rockets{
        flex-direction: column;
    }
    .rockets1{
        flex-direction: column;
    }
    .SX_dis1_spn{
        font-size: 75px;
    }
    .SX_dis1{
        top: 34%;
        font-size: large;
    }
    .Mission1 > p{
        font-size: small;
    }
    .Mission2 > p{
        font-size: small;
    }
    .Mission2 > div{
        gap: 0;
    }
    .Mission1{
        flex-direction: column;
    }
    .Mission2{
        flex-direction: column;
    }
    .Mission1 > img{
        width: 100%;
        height: 50%;
    }
    .Mission2 > video{
        width: 100%;
    }
    .ftr_stc2{
        display: none;
    }
}
@media screen and (min-width: 500px) and (max-width:699px) {
    header{
        width: 100vw;
    }
    .rockets{
        flex-direction: column;
    }
    
    .SX_dis1{
        top: 34%;
    }
    .Mission1 > p{
        font-size: medium;
    }
}
@media screen and (min-width: 700px) and (max-width:1024px) {
    header{
        width: 100vw;
    }
    .rockets{
        flex-direction: column;
    }
}