*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    /* --lgblu: rgb(186, 238, 255); */
}
.hdr_bg{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-image: url(../images/solar_system002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    position: relative;
}

header{
    height: 50px;
    width: 100%; /* give 100vw in media screen */
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.logo{
    object-fit: fill;
    /* background-color: aliceblue; */
}
input{       
    display: none;
}
header > label{
    display: none;
}
.hdr_nav{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: larger;
    text-shadow: 1px 1px 1px yellow;
    /* justify-content: space-evenly; */
}
.hdr_nav > p > a{
    text-decoration: none;
}
.hdr_nav > p::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color:  rgba(62, 202, 249);
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.4s;
}
.hdr_nav > p:hover::after{
    transform: scale(1);
}
.SX_dis{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 50px;
}
.SX_dis_dmy{
    height: inherit;
    width: inherit;
    position: relative;
}
.SX_dis1{
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    top: 30%;
    left: 25%;
}
.SX_dis1_spn{
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 100px;
    font-weight: bolder;
}
.sp_bar{
    height: 50px;
    width: 100%;
    background-color: rgba(145, 221, 246, 0.5);
    font-size:x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.popup{
    height: 50%;
    width: 30%;
    position: absolute;
    background-color: black;
    border: 5px double red;
    top: 22%;
    left: 30%;

}
.popup_sub1{
    height: 100%;
    width: 95%;
    position: relative;
    /* background-color: aqua; */
}
.popup_sub1 > p:first-child{
    width: 80%;
    background-color: yellow;
    color: black;
    font-size: larger;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 5%;
    left: 13%;

}
.popup_sub1 > p:nth-child(2){
    position: absolute;
    top: 25%;
    left: 5%;
}
.popup_sub1 > p:nth-child(3){
    position: absolute;
    top: 40%;
    left: 5%;
}
.popup_sub1 > p:last-child{
    position: absolute;
    bottom: 20%;
    left: 5%;
}
.close{
    color: rgb(0, 0, 0);
    background-color: red;
    border-radius: 20px;
    height: 20px;
    width: 60px;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    z-index: 9;
}
.SX_dis > input:checked ~ .popup{
    display: none;
}
.SX_dis > input:checked ~ .close1 > .close{
    display: none;
}
/* nav{
    height: 50px;
    width: 100%;
    background-color: rgba(166, 231, 253, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size:x-large;
    text-shadow: 1px 1px 1px red;
    color: black;
}
nav > p{
    color: black;
} */
.glx_detail{
    height: 90vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;
    
}
.lbl{
    color: rgb(0, 0, 0);
    background-color: red;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    top: 2%;
    z-index: 9;
    transition: all 2s;
}
.glx_detail > input:checked ~ article{
    left: 0;
 
}
/* .glx_detail > input:checked ~ .lbl{
    left: 45vw;
 
} */
.glx_detail > article{
    height: 90vh;
    width: 50vw;
    background-color: rgba(22, 120, 153, 0.6);
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 1s;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}
.glx_detail > article > div{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.glx_detail > div > img{
    
    height: 90vh;
    width: 100%;
    object-fit: contain;
}

/* Footer */
footer{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-image: url(../images/Nebula_cloud_carina.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.ftr_stc1{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    /* background-color: rgba(0, 255, 255, 0.658); */
}
.ftr_stc2{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 50px;
    /* background-color: rgba(252, 208, 151, 0.651); */
}

@media screen and (min-width: 700px) and (max-width:1024px) {
    header{
        width: 100vw;
    }
    .popup{
        height: 50%;
        width: 50%;
    }
    .glx_detail > article{
        width: 70vw;
    }
}
@media screen and (min-width: 500px) and (max-width:699px)
{
    header{
        width: 100vw;
    }
    .popup{
        height: 50%;
        width: 50%;
    }
    .glx_detail > article{
        width: 80vw;
    }
}

@media screen and (min-width: 300px) and (max-width:499px) {
    header{
        width: 100vw;
    }
    header > label{
        display: unset;
    }
    .popup{
        left: 20%;
        height: 50%;
        width: 70%;
    }
    .popup_sub1 > p:nth-child(3){
        position: absolute;
        top: 47%;
        left: 5%;
    }
    .hdr_nav{
        position: fixed;
        top: -200%;
        flex-direction: column;
        left: 0;
        background-color: black;
        height: 50vh;
        width: 100%;
        transition: all 1s;
    }
    header > input:checked ~ .hdr_nav{
        top: 50px;
    }
    
    .SX_dis1_spn{
        font-size: 75px;
    }
    .glx_detail{
        display: unset;
        background-color: rgb(0, 0, 0);
    }
    .glx_detail > div > img{
        height: unset;
    }
    .glx_detail > article{
        position: static;
        width: 100vw;
        height: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: unset;
        background-color: black;
    }
    .lbl{
        display: none;
    }
    
    .ftr_stc2{
        display: none;
    }
}