*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
:root{
    /* --lgblu: rgb(186, 238, 255); */
}
.hdr_bg{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-image: url(../images/solar_system002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    position: relative;
}

header{
    height: 50px;
    width: 100%; /* give 100vw in media screen */
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.logo{
    object-fit: fill;
    /* background-color: aliceblue; */
}
input{       
    display: none;
}
header > label{
    display: none;
}
.hdr_nav{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: larger;
    text-shadow: 1px 1px 1px yellow;
    /* justify-content: space-evenly; */
}
.hdr_nav > p > a{
    text-decoration: none;
}
.hdr_nav > p::after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color:  rgba(62, 202, 249);
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.4s;
}
.hdr_nav > p:hover::after{
    transform: scale(1);
}
.SX_dis{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 50px;
}
.SX_dis_dmy{
    height: inherit;
    width: inherit;
    position: relative;
}
.SX_dis1{
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    top: 30%;
    left: 25%;
}
.SX_dis1_spn{
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 100px;
    font-weight: bolder;
}
.sp_bar{
    height: 50px;
    width: 100%;
    background-color: rgba(145, 221, 246, 0.5);
    font-size:x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
/* header over */
.plnt_expln{
    background-color: black;
}
.plnt_expln > p{
    padding: 20px 20px 5px 20px;
    line-height: 20px;
}
.plnt_expln_1{
    padding: 5px 20px 5px 20px;
}
.plnt_detail{
    height: 90vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;
    
}
.lbl{
    color: rgb(0, 0, 0);
    background-color: red;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    top: 2%;
    z-index: 9;
    transition: all 2s;
}
.plnt_detail > input:checked ~ article{
    left: 0;
 
}
/* .plnt_detail > input:checked ~ .lbl{
    left: 45vw;
 
} */
.plnt_detail > article{
    height: 90vh;
    width: 50vw;
    background-color: rgba(22, 120, 153, 0.6);
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 1s;
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
}
.plnt_detail > article > div{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.plnt_detail > div > img{
    
    height: 90vh;
    width: 100%;
    object-fit: contain;
}
.plnt_detail_main{
    line-height: 25px;
}



/* Footer */
footer{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-image: url(../images/Nebula_cloud_carina.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.ftr_stc1{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;
    /* background-color: rgba(0, 255, 255, 0.658); */
}
.ftr_stc2{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 50px;
    /* background-color: rgba(252, 208, 151, 0.651); */
}


input{
    display: none;
}
header > label{
    display: none;
}
@media screen and (min-width: 300px) and (max-width:499px) {
    header{
        width: 100vw;
    }
    header > label{
        display: unset;
    }
    .hdr_nav{
        position: fixed;
        top: -200%;
        flex-direction: column;
        left: 0;
        background-color: black;
        height: 50vh;
        width: 100vw;
    }
    input:checked ~ .hdr_nav{
        top: 50px;
    }
}
@media screen and (min-width: 500px) and (max-width:699px) {
    header{
        width: 100vw;
    }
}

@media screen and (min-width: 700px) and (max-width:1024px) {
    header{
        width: 100vw;
    }
}
